[submodule ".registry"]
	path = .registry
	url = https://github.com/insileco/insileco.r-universe.dev
	branch = HEAD
[submodule "formbuildr"]
	path = formbuildr
	url = https://github.com/inSileco/formbuildr
[submodule "graphicsutils"]
	path = graphicsutils
	url = https://github.com/inSileco/graphicsutils
[submodule "inSilecoMisc"]
	path = inSilecoMisc
	url = https://github.com/inSileco/inSilecoMisc
[submodule "omdbr"]
	path = omdbr
	url = https://github.com/inSileco/omdbr
[submodule "rchelsa"]
	path = rchelsa
	url = https://github.com/inSileco/rchelsa
[submodule "refR"]
	path = refR
	url = https://github.com/inSileco/refR
[submodule "rowlbot"]
	path = rowlbot
	url = https://github.com/inSileco/rowlbot
